body {
    padding: 0;
    height: 100%; 
    margin: 0; 
    background-image: url(Imagines/new_background_1.png);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

.Left-side {
    width: 50%;
    height: 100%;
}

.firsttext {
    width: 40%;
    left:40%;
    position: relative;
}

.Orarul {
    width: 380px;
    border: 1px white;
    color: gray;
    padding: 15px 15px 15px 15px;   
    background-color: white;
    text-align: center !important;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}

.Threebuttons {
    display: flex;
    gap: 42px;
}

.button10 {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 1px solid #04AA6D;
  }
  
.button1:hover {
    background-color: #04AA6D;
    color: white;
  }

.button2 {
    background-color: white; 
    color: black; 
    border: 1px solid #04AA6D;
}
  
.button2:hover {
    background-color: #04AA6D;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 1px solid #04AA6D;
  }
  
.button3:hover {
    background-color: #04AA6D;
    color: white;
}

.container {
    position: absolute;
    margin-left: 45%;
    bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: gainsboro;
    width: 60px;
    height: 30px;
    cursor: pointer;
    position: relative;
}
 
.button::before {
    position: absolute;
    content: '';
    background-color: white;
    width: 30px;
    height: 20px;
    margin: 5px;
    transition: 0.2s;

}

input:checked + .button{
    background-color: green;
}

input:checked + .button::before{
    transform: translateX(20px);
}



input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
    display: none;
}

.Regim {
    color: white;
    margin-top: 5%;
}


*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
  
.main {
    position: relative;
    top: 50px;
    margin-left: 20%;
}

input {
    height: 50px;
    width: 370px;
    padding-left: 40px;
}

.btn {
    bottom:33px;
    margin-left: 21%;
    position:relative;
    width: 10px;
}

.search-icon {
    color: rgb(75, 187, 47); 
    pointer-events: none; 
}