body {
    padding: 0;
    height: 100%; 
    margin: 0; 
    background-image: url(Imagines/new_background_1.png);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

.Left-side {
    width: 50%;
    height: 100%;
}

.firsttext {
    width: 40%;
    left:30%;
    position: relative;
}

.Orarul {
    width: 150px;
    border: 1px white;
    color: white;
    height: 150px;
    padding:15px;
}