body {
    padding: 0;
    height: 100%; 
    margin: 0; 
    background-image: url(Imagines/new_background_1.png);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

.Left-side {
    width: 50%;
    height: 100%;
}

.firsttext {
    width: 40%;
    left:40%;
    position: relative;
}

.Orarul {
    width: 380px;
    border: 1px white;
    color: gray;
    padding: 15px 15px 15px 15px;   
    background-color: white;
    text-align: center !important;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}